{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <form class="form-inline mb-4" method="GET" action="{% url 'home1' %}">
            <div class="form-group">
                <input type="text" class="form-control" name="search" placeholder="Rechercher un produit">
            </div>
            <button type="submit" class="btn btn-primary">Rechercher</button>
        </form>
        <div class="row">
            {% for produit in produits %}
                <div class="col-md-4">
                    <div class="card">
                        <img src="{{ produit.image }}" class="card-img-top" alt="{{ produit.nom }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ produit.designation }}</h5>
                            <p class="card-text">{{ produit.description }}</p>
                            <p class="card-text">{{ produit.prix }} €</p>
                            <a href="#" class="btn btn-primary">Acheter</a>
                            <a href="{% url 'produit_detail' produit.id %}" class="btn btn-primary">Voir les détails</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}