{% extends 'base.html' %}
{% block content %}


  <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="{{ produit.image }}" class="img-fluid" alt="{{ produit.designation }}">
            </div>
            <div class="col-md-6">
                <h1>{{ produit.designation }}</h1>
                <p class="lead">{{ produit.description }}</p>
                <h3>Prix : {{ produit.prix }} €</h3>
                <h3>{{ produit.quantite }} en stock</h3>

                <hr>
                {% if user.is_authenticated %}
                <form method="post" action="{% url 'ajouter_panier' produit.id %}">
                    {% csrf_token %}
                    <label for="quantity">Quantité :</label>
                    <input type="number" id="quantity" name="quantity" min="1" max="{{ produit.quantite }}" required>
                    <button type="submit" class="btn btn-primary">Ajouter au panier</button>
                </form>
                {% endif %}
            </div>
        </div>
    </div>


{% endblock %}